/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
/* line 11, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
html {
  color: #000;
  background: #FFF;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
/* line 22, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 50, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
/* line 61, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 74, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 79, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
caption,
th {
  text-align: left;
}

/* line 83, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 92, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
q:before,
q:after {
  content: '';
}

/* line 96, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 102, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 105, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 108, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 116, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 122, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
/* line 126, /Users/inoshun/projects/funding/app/assets/stylesheets/_reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* line 1, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  box-sizing: border-box;
}

/* line 8, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.top-header {
  width: 1000px;
  height: 300px;
  background-position: center;
  background-image: url("back.jpg");
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 300px;
  color: white;
  margin: auto;
}

/* line 22, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.projects-main {
  width: 1200px;
  height: 1500px;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: scroll;
  box-shadow: 0 0 8px gray;
  background-color: white;
}
/* line 34, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.projects-main__list {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 40, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.projects-main__list .project {
  width: 30%;
  height: 100%;
  box-shadow: 0 0 8px gray;
  margin-top: 50px;
}
/* line 45, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.projects-main__list .project__image {
  margin: auto;
  background-position: center;
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
}
/* line 52, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.projects-main__list .project__title {
  height: 110px;
  width: calc(100% - 10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

/* line 67, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.top-footer {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}
/* line 72, /Users/inoshun/projects/funding/app/assets/stylesheets/index.scss */
.top-footer .new-project-btn {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  margin: 70px auto;
}

/* line 1, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-title {
  font-size: 80px;
  margin-top: 20px;
  margin-left: 20px;
}

/* line 7, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail {
  display: flex;
}
/* line 10, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .project-contents {
  display: flex;
}
/* line 12, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .project-contents__image {
  height: 300px;
  width: 450px;
  margin-top: 60px;
  margin-left: 80px;
}
/* line 18, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .project-contents__textbox {
  height: 300px;
  width: 400px;
  margin-top: 50px;
  margin-left: 30px;
}
/* line 23, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .project-contents__textbox .text {
  font-size: 30px;
}
/* line 29, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .Current-status {
  margin-top: 100px;
  margin-left: 30px;
}
/* line 32, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .Current-status .total {
  font-size: 50px;
  margin-bottom: 20px;
}
/* line 36, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.project-detail .Current-status .supporter {
  font-size: 50px;
}

/* line 42, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.money-support {
  height: 100px;
  width: 600px;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
}
/* line 52, /Users/inoshun/projects/funding/app/assets/stylesheets/show.scss */
.money-support__btn {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 30px;
  color: white;
  background-color: #38aef0;
  cursor: pointer;
}
