.projects-main
  .projects-main__list
    .project
      .project__image
      .project__title
        男の子でもプリキュアになりたい
    .project2
      .project2__image2
      .project2__title2
        明日から本気出す
    .project3
      .project3__image3
      .project3__title3
        デスゲームを開催します！

  .projects-main__list2
    .project2-1
      .project2-1__image
      .project2-1__title
        test
    .project2-2
      .project2-2__image2
      .project2-2__title2
        test
    .project2-3
      .project2-3__image3
      .project2-3__title3
        test