.project-title
  = @post.title

.project-detail
  .project-contents
    .project-contents__image
      = image_tag @post.image.url
    .project-contents__textbox
      .text
        = @post.text

  .Current-status
    .total 
      現在の支援総額
      .total__money 30,000,000円

    .supporter
      支援者数
      .supporter__n 3,600人


.money-support
  .money-support__yen
    %input{class: ".radio-btn", type: "radio", value: "0"}500円
    %input{class: ".radio-btn", type: "radio", value: "0"}1000円
    %input{class: ".radio-btn", type: "radio", value: "0"}1500円
  .money-support__btn 支援する

