.project-title{
  font-size: 80px;
  margin-top: 20px;
  margin-left: 20px;
}

.project-detail{
  display: flex;

  .project-contents{
    display: flex;
    &__image{
      height: 300px;
      width: 450px;
      margin-top: 60px;
      margin-left: 80px;
    }
    &__textbox{
      height: 300px;
      width: 400px;
      margin-top: 50px;
      margin-left: 30px;
      .text{
        font-size: 30px;
      }
    }
  }

  .Current-status{
    margin-top: 100px;
    margin-left: 30px;
    .total {
      font-size: 50px;
      margin-bottom: 20px;
    }
    .supporter {
      font-size: 50px;
    }
  }
}

.money-support{
  height: 100px;
  width: 600px;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  &__yen{
    .radio-btn{
    }
  }
  &__btn{
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 30px;
    color: white;
    background-color: #38aef0;
    cursor: pointer;
  }
}